h3{
  margin-left: 15px;
}

.fileInput{
  border-bottom: 4px solid #454b54;
  border-right: 4px solid #454b54;
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  background-color: white;
}
  
.imgPreview{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: auto;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: no-repeat center center;
  color : black;
  background-color: white;
  object-fit:cover;
}
  
.previewText{
  width: 100%;
  margin-top: 20px;
}
  
  
.submitButton{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  &:hover;
  background: #efefef;
}

.centerText{
  text-align: center;
  width: 500px;
}
.span-red{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: red;
}
.span-green{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: green;
}
.mt-2{
  margin-top: 3px;
}
.span-blue{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: blue;
}
.span-yellow{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: yellow;
}
.span-black{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: black;
}
.span-pink{
  padding :5px 15px;
  margin : 1.25px;
  cursor : pointer;
  background-color: pink;
}